@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
  }

  h2 {
    @apply scroll-m-20 text-3xl font-semibold tracking-tight lg:text-4xl;
  }

  h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight lg:text-3xl;
  }

  h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight lg:text-2xl;
  }

  h5 {
    @apply scroll-m-20 text-lg font-semibold tracking-tight lg:text-xl;
  }

  h6 {
    @apply scroll-m-20 font-semibold tracking-tight lg:text-lg;
  }
  :root {
    --radius: 0.5rem;
  }
}

@layer utilities {
  .max-width {
    @apply mx-auto max-w-[1350px];
  }

  .custom-transition {
    @apply transition-all duration-300;
  }

  /* margin and padding */
  .section-padding-x {
    @apply px-5 sm:px-8 md:px-12 lg:px-16 xl:px-20;
  }

  .section-padding-y {
    @apply py-10 lg:py-16 xl:py-20;
  }

  .section-margin-y {
    @apply my-10 lg:my-16 xl:my-20;
  }

  .section-padding-y {
    @apply py-10 lg:py-16 xl:py-20;
  }
}

#about .swiper-slide {
  padding-block: 25px;
  padding-bottom: 70px;
}

#about img {
  aspect-ratio: 1;
  object-fit: cover;
}

#about .swiper {
  max-width: 100%;
  height: 100%;
}

#about .swiper-pagination-bullets {
  bottom: 0px !important;
}

#about .swiper-pagination-bullet {
  width: 40px;
  height: 40px;
  aspect-ratio: 1;
  color: #000;
  background: transparent;
  opacity: 0.5;
}

#about .swiper-pagination-bullet-active {
  width: 55px;
  height: 55px;
  padding: 2px;
  opacity: 1;
  transition: all 0.2s linear;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #about .swiper-slide {
    padding-bottom: 0px;
  }
  #about .swiper-pagination-bullet {
    width: 50px;
    height: 50px;
    aspect-ratio: 1;
  }
  #about .swiper-pagination-bullet-active {
    width: 60px;
    height: 60px;
    aspect-ratio: 1;
    border: 2px solid grey;
    padding: 2px;
    opacity: 1;
  }
}

@media screen and (min-width: 1024px) {
  #about .swiper-slide {
    padding-block: 40px;
    padding-bottom: 0px;
  }

  #about .swiper-pagination-bullet {
    width: 55px;
    height: 55px;
    aspect-ratio: 1;
  }
  #about .swiper-pagination-bullet-active {
    width: 65px;
    height: 65px;
    aspect-ratio: 1;
    border: 3px solid grey;
    padding: 4px;
    opacity: 1;
  }
}
